@use "../abstracts/variables" as *;

@mixin test {
  * {
    outline: 2px solid lime;
  }
}

@mixin thumb-overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: $clr-white;
  opacity: 0.7;
}
