$clr-orange: hsl(26, 100%, 55%);
$clr-pale-orange: hsl(25, 100%, 94%);
$clr-hover-orange: darken($clr-pale-orange, 20%);
$clr-very-dark-blue: hsl(220, 13%, 13%);
$clr-dark-greyish-blue: hsl(219, 9%, 45%);
$clr-greyish-blue: hsl(220, 14%, 75%);
$clr-light-greyish-blue: hsl(223, 64%, 98%);
$clr-white: hsl(0, 0%, 100%);
$clr-black-low-opac: hsla(0, 0%, 0%, 0.7);

$b-rad: 15px;
