@use "../abstracts/variables" as *;

.cart-wrapper {
  // outline: 2px solid red;
  padding-top: 0.5rem;
  position: absolute;
  width: 30rem;
  left: 0;
  top: 125%;
  background-color: $clr-white;
  min-height: 275px;

  &::before {
    content: "";
    border-radius: $b-rad;
    position: absolute;
    inset: 25px 0 0 0;
    box-shadow: 0px 10px 35px rgba(black, 0.25);
    z-index: -1;
  }

  .cart {
    h3 {
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $clr-greyish-blue;
      font-size: 1.5rem;
    }

    .cart-empty-text {
      text-align: center;
      font-weight: 700;
      color: $clr-dark-greyish-blue;
      margin-top: 5.75rem;
    }

    .cart-items-wrapper {
      padding-inline: 2rem;

      button {
        width: 100%;
        padding-block: 1.5rem;
        border-radius: $b-rad;
        border: none;
        background-color: $clr-orange;
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 2.5rem;
        cursor: pointer;

        &:hover,
        &:focus-visible {
          background-color: $clr-hover-orange;
        }
      }
    }
  }
}
