@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/media_queries" as *;

// don't forget to put the little item number on the cart icon
.cart-item {
  // @include test;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;

  @include media-lt-400 {
    margin-block: 1.5rem;
  }

  > img {
    width: 60px;
    border-radius: 5px;
  }

  .cart-item-content-wrapper {
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 100%;

    img {
      width: 1.25rem;
      cursor: pointer;

      @include media-lt-400 {
        width: 1rem;
      }
    }

    .cart-item-text-wrapper {
      display: grid;
      font-size: 1.125rem;
      font-weight: 500;
      gap: 0.5rem;

      p {
        font-size: 1.25rem;
        font-weight: 600;

        @include media-lt-400 {
          font-size: 1rem;
        }
      }

      p:not(.subtotal) {
        color: $clr-dark-greyish-blue;
      }
      .price-wrapper {
        p {
          margin-right: 0.5rem;
        }
        .subtotal {
          font-weight: 700;
        }
      }
    }
  }
}
