@use "../abstracts/variables" as *;
@use "../abstracts/media_queries" as *;

.cart-wrapper {
  // outline: 2px solid red;
  padding-top: 0.5rem;
  position: absolute;
  width: 30rem;
  left: 0;
  top: 125%;
  background-color: $clr-white;
  // min-height: 275px;

  @include media-lt-400 {
    z-index: 9999;
    width: 95vw;
    top: 5.5rem;
    left: 2.5vw;
    border-radius: $b-rad;
  }

  &::before {
    content: "";
    border-radius: $b-rad;
    position: absolute;
    inset: 25px 0 0 0;
    box-shadow: 0px 10px 35px rgba(black, 0.25);
    z-index: -1;

    @include media-lt-400 {
      inset: 0;
    }
  }

  .cart {
    .cart-items-wrapper {
      padding-inline: 1rem;
    }

    h3 {
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $clr-greyish-blue;
      font-size: 1.5rem;

      @include media-lt-400 {
        margin-top: 0.5rem;
        font-size: 1rem;
        padding-left: 1rem;
      }
    }

    .cart-empty-text {
      text-align: center;
      font-weight: 700;
      color: $clr-dark-greyish-blue;
      margin-block: 6rem;
    }

    button {
      width: calc(100% - 2rem);
      margin-inline: 1rem;
      padding-block: 1.5rem;
      border-radius: $b-rad;
      border: none;
      background-color: $clr-orange;
      font-weight: 700;
      font-size: 1.25rem;
      margin-bottom: 2rem;
      cursor: pointer;

      @include media-lt-400 {
        padding-block: 1.25rem;
        margin-bottom: 1.5rem;
      }

      &:hover,
      &:focus-visible {
        background-color: $clr-hover-orange;
      }
    }
  }
}
