@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/media_queries" as *;
.cart-item {
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;

  @include media-lt-800 {
    margin-block: 1.5rem;
  }
  > img {
    border-radius: 5px;
    width: 60px;
  }
  .cart-item-content-wrapper {
    align-items: center;
    flex: 1;
    height: 100%;
    justify-content: space-between;

    img {
      cursor: pointer;
      width: 1.25rem;

      @include media-lt-800 {
        width: 1rem;
      }
    }
    .cart-item-text-wrapper {
      display: grid;
      font-size: 1.125rem;
      font-weight: 500;
      gap: 0.5rem;

      p {
        font-size: 1.25rem;
        font-weight: 600;

        @include media-lt-800 {
          font-size: 1rem;
        }
      }
      p:not(.subtotal) {
        color: $clr-dark-greyish-blue;
      }
      .price-wrapper {
        p {
          margin-right: 0.5rem;
        }
        .subtotal {
          font-weight: 700;
        }
      }
    }
  }
}
