@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  align-items: center;
  border-bottom: 1px solid $clr-greyish-blue;
  margin-inline: auto;
  max-width: 1440px;
  justify-content: space-between;
  padding-block: 1.54rem;

  .left-wrapper {
    gap: 5rem;

    .hamburger {
      display: none;
    }

    .logo {
      height: 1.5rem;
    }

    ul {
      list-style-type: none;
      gap: 2.5rem;

      li {
        color: $clr-dark-greyish-blue;
        font-size: 1.25rem;
      }
    }
  }

  .right-wrapper {
    // @include test;
    // outline: 2px solid red;
    position: relative;
    gap: 3rem;
    align-items: center;
    width: 375px;

    // .cart-wrapper {
    //   display: none;
    // }

    .cart-icon {
      width: 2rem;
      margin-left: auto;
    }

    .avatar {
      width: 65px;
    }
  }
}
