@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

dialog {
  background-color: transparent;
  border: none;
  margin: auto;
  overflow: visible;
  width: 40rem;

  &::backdrop {
    background-color: $clr-black-low-opac;
  }
  .lightbox {
    background-color: transparent;

    .btn-lightbox-close {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -2.75rem;
      width: 1.5rem;

      &:hover,
      &:focus-visible {
        path {
          fill: $clr-orange;
        }
      }
    }

    .lightbox-main-img-wrapper {
      margin-bottom: 3rem;
      margin-inline: auto;
      position: relative;
      user-select: none;
      width: 100%;

      img {
        border-radius: $b-rad;
      }

      .prod-img {
        position: absolute;
        top: 0;
      }

      .active-prod-img {
        position: relative;
        z-index: 99;
      }

      .btn-lightbox-prev,
      .btn-lightbox-next {
        background-color: $clr-white;
        border-radius: 50%;
        cursor: pointer;
        left: -2rem;
        padding: 1.25rem 1rem 1rem 1.25rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        z-index: 999;

        &:hover,
        &:focus-visible {
          path {
            stroke: $clr-orange;
          }
        }
      }

      .btn-lightbox-next {
        left: unset;
        padding: 1.15rem 0.75rem 1rem 1.35rem;
        right: -2rem;
      }
    }

    .lightbox-thumbs-wrapper {
      justify-content: space-between;
      margin-inline: auto;
      width: 85%;

      .lightbox-thumb-wrapper {
        border-radius: $b-rad;
        overflow: hidden;
        width: 110px;
      }

      .lightbox-thumb-wrapper:not(.active-thumb) {
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus-visible {
          &::after {
            @include thumb-overlay();
          }
        }
      }
    }
  }

  &:focus-visible {
    outline: none;
  }
}
