@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

dialog {
  // @include test;
  background-color: transparent;
  border: none;
  margin: auto;
  // outline: 2px solid lime;
  width: 40rem;
  overflow: visible;

  &::backdrop {
    background-color: $clr-black-low-opac;
  }

  .lightbox {
    background-color: transparent;

    .btn-lightbox-close {
      cursor: pointer;
      // filter: brightness(2);
      width: 1.5rem;
      position: absolute;
      right: 0;
      top: -2.75rem;

      &:hover,
      &:focus-visible {
        path {
          fill: $clr-orange;
        }
      }
    }

    .lightbox-main-img-wrapper {
      width: 100%;
      margin-inline: auto;
      margin-bottom: 3rem;
      position: relative;

      img {
        border-radius: $b-rad;
      }

      .prod-img {
        position: absolute;
        top: 0;
      }

      .active-prod-img {
        position: relative;
        z-index: 99;
      }

      .btn-lightbox-prev,
      .btn-lightbox-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        background-color: $clr-white;
        border-radius: 50%;
        left: -2rem;
        padding: 1.25rem 1.25rem 1.25rem 1.5rem;
        cursor: pointer;
        z-index: 999;

        &:hover,
        &:focus-visible {
          path {
            stroke: $clr-orange;
          }
        }
      }

      .btn-lightbox-next {
        left: unset;
        right: -2rem;
      }
    }

    .lightbox-thumbs-wrapper {
      width: 85%;
      margin-inline: auto;
      justify-content: space-between;

      .lightbox-thumb-wrapper {
        width: 110px;
        border-radius: $b-rad;
        overflow: hidden;
      }

      .lightbox-thumb-wrapper:not(.active-thumb) {
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus-visible {
          &::after {
            @include thumb-overlay();
          }
        }
      }
    }
  }

  &:focus-visible {
    outline: none;
  }
}
