@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.left-col {
  .main-img-wrapper {
    margin-bottom: 2rem;
    cursor: pointer;
  }

  img {
    border-radius: $b-rad;
  }

  .thumbs-wrapper {
    width: 100%;
    justify-content: space-between;

    .main-thumb-img-wrapper {
      overflow: hidden;
    }

    > * {
      width: 20%;
      border-radius: $b-rad;
      position: relative;

      &:not(.active-thumb) {
        cursor: pointer;

        &:hover,
        &:focus-visible {
          &::after {
            @include thumb-overlay();
          }
        }
      }
    }
  }
}
