body {
  padding-inline: 10rem;
}

main {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  align-items: center;

  > * {
    padding: 3rem;
    flex-grow: 1;
    flex-basis: 375px;
  }
}
