@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/media_queries" as *;
.left-col {
  .main-img-wrapper {
    cursor: pointer;
    margin-bottom: 2rem;
    position: relative;

    .svg-wrapper {
      cursor: pointer;
      display: none;

      &.svg-prev::before,
      &.svg-next::before {
        background-color: $clr-white;
        border-radius: 50%;
        content: "";
        height: 2.25rem;
        left: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.25rem;
        z-index: 998;
      }

      &.svg-next::before {
        left: unset;
        right: 1rem;
      }

      .mob-prev-icon,
      .mob-next-icon {
        left: 1.65rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
      }

      .mob-next-icon {
        left: unset;
        right: 1rem;
      }

      @include media-lt-800 {
        display: block;
      }
    }

    .prod-img {
      position: absolute;
      top: 0;
    }

    .active-prod-img {
      position: relative;
      z-index: 99;
    }

    img {
      border-radius: $b-rad;

      @include media-lt-800 {
        border-radius: 0;
        height: 325px;
        object-fit: cover;
        width: 100%;
      }
    }

    @include media-lt-800 {
      cursor: initial;
    }
  }

  .thumbs-wrapper {
    justify-content: space-between;
    width: 100%;

    .main-thumb-img-wrapper {
      overflow: hidden;
    }

    > * {
      border-radius: $b-rad;
      position: relative;
      width: 20%;

      &:not(.active-thumb) {
        cursor: pointer;

        &:hover,
        &:focus-visible {
          &::after {
            @include thumb-overlay();
          }
        }
      }
    }

    @include media-lt-800 {
      display: none;
    }
  }
}
