@use "../abstracts/mixins" as *;
@use "../abstracts/media_queries" as *;

main {
  // @include test;
  max-width: 1440px;
  margin-inline: auto;
  flex-wrap: wrap;
  align-items: center;

  > * {
    padding: 5rem;
    flex-grow: 1;
    flex-basis: 500px;

    @include media-lt-400 {
      padding: 0;
    }
  }
}
