@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/media_queries" as *;

.right-col {
  // @include test;
  display: grid;
  gap: 2rem;
  // width: 100%;

  @include media-lt-800 {
    gap: 1rem;
    padding-inline: 1.25rem;
  }

  h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    color: $clr-dark-greyish-blue;
  }

  h1 {
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    line-height: 1;
    margin-bottom: 1rem;
    @include media-lt-800 {
      margin-bottom: 0;
    }
  }

  .prod-desc {
    line-height: 1.7;
    width: 47ch;
    color: $clr-dark-greyish-blue;
    font-size: 1.25rem;

    @include media-lt-800 {
      width: 100%;
      line-height: 1.5;
      font-size: 1rem;
    }
  }

  .price-wrapper {
    display: grid;
    gap: 1rem;

    @include media-lt-800 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .price {
      font-weight: 700;
      font-size: 2.5rem;
      position: relative;

      @include media-lt-800 {
        font-size: 2rem;
      }

      &::after {
        content: "50%";
        background: black;
        border-radius: 8px;
        font-size: 1.25rem;
        color: $clr-white;
        font-weight: 600;
        left: 10rem;
        padding: 0.35rem 0.85rem;
        position: absolute;
        bottom: 0.25rem;

        @include media-lt-800 {
          font-size: 1rem;
          left: 8rem;
        }
      }
    }

    s {
      color: $clr-dark-greyish-blue;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.add-prod-controls {
  gap: 1.25rem;

  @include media-lt-800 {
    display: block;
  }

  .qty-wrapper {
    align-items: center;
    justify-content: space-between;
    flex-basis: 35%;
    padding: 1.25rem;
    background-color: $clr-light-greyish-blue;
    border-radius: $b-rad;
    user-select: none;

    @include media-lt-800 {
      margin-block: 0.75rem 1.25rem;
    }

    .item-qty {
      font-weight: 700;
      font-size: 1.25rem;
    }

    img {
      width: 1rem;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        filter: brightness(1.5);
      }
    }
  }

  button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-block: 1.5rem;
    border-radius: $b-rad;
    border: none;
    background-color: $clr-orange;
    cursor: pointer;

    @include media-lt-800 {
      width: 100%;
    }

    img {
      width: 1.5rem;
      filter: brightness(0);
    }

    span {
      font-size: 1.25rem;
      font-weight: 700;
    }

    &:hover,
    &:focus-visible {
      background-color: $clr-hover-orange;
    }
  }
}
