@use "../abstracts/variables" as *;
.mobile-menu {
  background-color: $clr-black-low-opac;
  display: none;
  inset: 0;
  padding: 1.5rem;
  position: absolute;
  z-index: 9999;

  .mobile-menu-close {
    cursor: pointer;
    margin-bottom: 3rem;
    width: 1.25rem;
  }
  ul {
    list-style-type: none;

    li {
      color: $clr-very-dark-blue;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
  }
  &::before {
    background-color: $clr-white;
    content: "";
    inset: 0 30% 0 0;
    position: absolute;
    z-index: -999;
  }
}
