@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.flex {
  display: flex;
}

.go-away {
  display: none;
}

.active-thumb {
  outline: 3px solid $clr-orange;
  position: relative;

  &::after {
    @include thumb-overlay();
  }
}
