*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

body {
  font-family: "Kumbh Sans", serif;
}

.flex {
  display: flex;
}

.go-away {
  display: none;
}

.active-thumb {
  outline: 3px solid hsl(26, 100%, 55%);
  position: relative;
}
.active-thumb::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.7;
  z-index: 99;
}

.cart-wrapper {
  padding-top: 0.5rem;
  position: absolute;
  width: 30rem;
  left: 0;
  top: 125%;
  background-color: hsl(0, 0%, 100%);
}
@media (width < 800px) {
  .cart-wrapper {
    z-index: 9998;
    width: 95vw;
    top: 5.5rem;
    left: 2.5vw;
    border-radius: 15px;
  }
}
.cart-wrapper::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  inset: 25px 0 0 0;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
  z-index: -1;
}
@media (width < 800px) {
  .cart-wrapper::before {
    inset: 0;
  }
}
.cart-wrapper .cart .cart-items-wrapper {
  padding-inline: 1rem;
}
.cart-wrapper .cart h3 {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  font-size: 1.5rem;
}
@media (width < 800px) {
  .cart-wrapper .cart h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
  }
}
.cart-wrapper .cart .cart-empty-text {
  text-align: center;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  margin-block: 6rem;
}
.cart-wrapper .cart button {
  width: calc(100% - 2rem);
  margin-inline: 1rem;
  padding-block: 1.5rem;
  border-radius: 15px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
@media (width < 800px) {
  .cart-wrapper .cart button {
    padding-block: 1.25rem;
    margin-bottom: 1.5rem;
  }
}
.cart-wrapper .cart button:hover, .cart-wrapper .cart button:focus-visible {
  background-color: #ff9447;
}

header {
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  margin-inline: auto;
  max-width: 1440px;
  justify-content: space-between;
  padding-block: 1.5rem;
}
@media (width < 1400px) {
  header {
    padding-inline: 1.5rem;
  }
}
header .left-wrapper {
  gap: 5rem;
}
@media (width < 800px) {
  header .left-wrapper {
    gap: 1rem;
    align-items: center;
  }
}
header .left-wrapper .hamburger {
  display: none;
  cursor: pointer;
}
@media (width < 1000px) {
  header .left-wrapper .hamburger {
    display: block;
    width: 1.25rem;
    margin-top: 0.25rem;
  }
}
header .left-wrapper .logo {
  height: 1.5rem;
}
header .left-wrapper nav ul {
  list-style-type: none;
  gap: 2.5rem;
}
header .left-wrapper nav ul li {
  color: hsl(219, 9%, 45%);
  font-size: 1.25rem;
  position: relative;
  cursor: pointer;
}
header .left-wrapper nav ul li:hover {
  color: black;
}
header .left-wrapper nav .active-nav-item::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -2.75rem;
  background-color: hsl(26, 100%, 55%);
  left: 0;
}
@media (width < 1000px) {
  header .left-wrapper nav {
    display: none;
  }
}
header .right-wrapper {
  position: relative;
  gap: 3rem;
  align-items: center;
  width: 375px;
}
@media (width < 800px) {
  header .right-wrapper {
    gap: 1.25rem;
    width: 100px;
    position: static;
  }
}
header .right-wrapper .cart-icon-wrapper {
  margin-left: auto;
  position: relative;
}
header .right-wrapper .cart-icon-wrapper .cart-icon-item-qty {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -50%;
  right: -50%;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 50%;
  display: none;
  place-content: center;
  line-height: 1.5rem;
}
header .right-wrapper .cart-icon {
  width: 2rem;
  cursor: pointer;
}
header .right-wrapper .cart-icon:hover, header .right-wrapper .cart-icon:focus-visible {
  filter: brightness(0.5);
}
@media (width < 800px) {
  header .right-wrapper .cart-icon {
    width: 1.75rem;
  }
}
header .right-wrapper .avatar {
  width: 65px;
  cursor: pointer;
  border-radius: 50%;
}
header .right-wrapper .avatar:hover, header .right-wrapper .avatar:focus-visible {
  outline: 3px solid hsl(26, 100%, 55%);
}
@media (width < 800px) {
  header .right-wrapper .avatar {
    width: 2rem;
  }
}

dialog {
  background-color: transparent;
  border: none;
  margin: auto;
  width: 40rem;
  overflow: visible;
}
dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.7);
}
dialog .lightbox {
  background-color: transparent;
}
dialog .lightbox .btn-lightbox-close {
  cursor: pointer;
  width: 1.5rem;
  position: absolute;
  right: 0;
  top: -2.75rem;
}
dialog .lightbox .btn-lightbox-close:hover path, dialog .lightbox .btn-lightbox-close:focus-visible path {
  fill: hsl(26, 100%, 55%);
}
dialog .lightbox .lightbox-main-img-wrapper {
  width: 100%;
  margin-inline: auto;
  margin-bottom: 3rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
dialog .lightbox .lightbox-main-img-wrapper img {
  border-radius: 15px;
}
dialog .lightbox .lightbox-main-img-wrapper .prod-img {
  position: absolute;
  top: 0;
}
dialog .lightbox .lightbox-main-img-wrapper .active-prod-img {
  position: relative;
  z-index: 99;
}
dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-prev,
dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  left: -2rem;
  padding: 1.25rem 1rem 1rem 1.25rem;
  cursor: pointer;
  z-index: 999;
}
dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-prev:hover path, dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-prev:focus-visible path,
dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-next:hover path,
dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-next:focus-visible path {
  stroke: hsl(26, 100%, 55%);
}
dialog .lightbox .lightbox-main-img-wrapper .btn-lightbox-next {
  left: unset;
  right: -2rem;
  padding: 1.15rem 0.75rem 1rem 1.35rem;
}
dialog .lightbox .lightbox-thumbs-wrapper {
  width: 85%;
  margin-inline: auto;
  justify-content: space-between;
}
dialog .lightbox .lightbox-thumbs-wrapper .lightbox-thumb-wrapper {
  width: 110px;
  border-radius: 15px;
  overflow: hidden;
}
dialog .lightbox .lightbox-thumbs-wrapper .lightbox-thumb-wrapper:not(.active-thumb) {
  cursor: pointer;
  position: relative;
}
dialog .lightbox .lightbox-thumbs-wrapper .lightbox-thumb-wrapper:not(.active-thumb):hover::after, dialog .lightbox .lightbox-thumbs-wrapper .lightbox-thumb-wrapper:not(.active-thumb):focus-visible::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.7;
  z-index: 99;
}
dialog:focus-visible {
  outline: none;
}

.left-col .main-img-wrapper {
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}
.left-col .main-img-wrapper .svg-wrapper {
  cursor: pointer;
  display: none;
}
.left-col .main-img-wrapper .svg-wrapper.svg-prev::before, .left-col .main-img-wrapper .svg-wrapper.svg-next::before {
  content: "";
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  z-index: 998;
}
.left-col .main-img-wrapper .svg-wrapper.svg-next::before {
  left: unset;
  right: 1rem;
}
.left-col .main-img-wrapper .svg-wrapper .mob-prev-icon,
.left-col .main-img-wrapper .svg-wrapper .mob-next-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  left: 1.65rem;
}
.left-col .main-img-wrapper .svg-wrapper .mob-next-icon {
  left: unset;
  right: 1rem;
}
@media (width < 800px) {
  .left-col .main-img-wrapper .svg-wrapper {
    display: block;
  }
}
.left-col .main-img-wrapper .prod-img {
  position: absolute;
  top: 0;
}
.left-col .main-img-wrapper .active-prod-img {
  position: relative;
  z-index: 99;
}
.left-col .main-img-wrapper img {
  border-radius: 15px;
}
@media (width < 800px) {
  .left-col .main-img-wrapper img {
    width: 100%;
    height: 325px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }
}
@media (width < 800px) {
  .left-col .main-img-wrapper {
    cursor: initial;
  }
}
.left-col .thumbs-wrapper {
  width: 100%;
  justify-content: space-between;
}
.left-col .thumbs-wrapper .main-thumb-img-wrapper {
  overflow: hidden;
}
.left-col .thumbs-wrapper > * {
  width: 20%;
  border-radius: 15px;
  position: relative;
}
.left-col .thumbs-wrapper > *:not(.active-thumb) {
  cursor: pointer;
}
.left-col .thumbs-wrapper > *:not(.active-thumb):hover::after, .left-col .thumbs-wrapper > *:not(.active-thumb):focus-visible::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.7;
  z-index: 99;
}
@media (width < 800px) {
  .left-col .thumbs-wrapper {
    display: none;
  }
}

.right-col {
  display: grid;
  gap: 2rem;
}
@media (width < 800px) {
  .right-col {
    gap: 1rem;
    padding-inline: 1.25rem;
  }
}
.right-col h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: hsl(219, 9%, 45%);
}
.right-col h1 {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  line-height: 1;
  margin-bottom: 1rem;
}
@media (width < 800px) {
  .right-col h1 {
    margin-bottom: 0;
  }
}
.right-col .prod-desc {
  line-height: 1.7;
  width: 47ch;
  color: hsl(219, 9%, 45%);
  font-size: 1.25rem;
}
@media (width < 800px) {
  .right-col .prod-desc {
    width: 100%;
    line-height: 1.5;
    font-size: 1rem;
  }
}
.right-col .price-wrapper {
  display: grid;
  gap: 1rem;
}
@media (width < 800px) {
  .right-col .price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.right-col .price-wrapper .price {
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
}
@media (width < 800px) {
  .right-col .price-wrapper .price {
    font-size: 2rem;
  }
}
.right-col .price-wrapper .price::after {
  content: "50%";
  background: black;
  border-radius: 8px;
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  left: 10rem;
  padding: 0.35rem 0.85rem;
  position: absolute;
  bottom: 0.25rem;
}
@media (width < 800px) {
  .right-col .price-wrapper .price::after {
    font-size: 1rem;
    left: 8rem;
  }
}
.right-col .price-wrapper s {
  color: hsl(219, 9%, 45%);
  font-size: 1.5rem;
  font-weight: 600;
}

.add-prod-controls {
  gap: 1.25rem;
}
@media (width < 800px) {
  .add-prod-controls {
    display: block;
  }
}
.add-prod-controls .qty-wrapper {
  align-items: center;
  justify-content: space-between;
  flex-basis: 35%;
  padding: 1.25rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width < 800px) {
  .add-prod-controls .qty-wrapper {
    margin-block: 0.75rem 1.25rem;
  }
}
.add-prod-controls .qty-wrapper .item-qty {
  font-weight: 700;
  font-size: 1.25rem;
}
.add-prod-controls .qty-wrapper img {
  width: 1rem;
  cursor: pointer;
}
.add-prod-controls .qty-wrapper img:hover, .add-prod-controls .qty-wrapper img:focus-visible {
  filter: brightness(1.5);
}
.add-prod-controls button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1.5rem;
  border-radius: 15px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  cursor: pointer;
}
@media (width < 800px) {
  .add-prod-controls button {
    width: 100%;
  }
}
.add-prod-controls button img {
  width: 1.5rem;
  filter: brightness(0);
}
.add-prod-controls button span {
  font-size: 1.25rem;
  font-weight: 700;
}
.add-prod-controls button:hover, .add-prod-controls button:focus-visible {
  background-color: #ff9447;
}

main {
  max-width: 1440px;
  margin-inline: auto;
  flex-wrap: wrap;
  align-items: center;
}
main > * {
  padding: 5rem;
  flex-grow: 1;
  flex-basis: 500px;
}
@media (width < 800px) {
  main > * {
    padding: 0;
  }
}

@media (width < 800px) {
  .attribution {
    margin-block: 1rem;
  }
}

.mobile-menu {
  outline: 2px solid lime;
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 9999;
  display: none;
  padding: 1.5rem;
}
.mobile-menu .mobile-menu-close {
  cursor: pointer;
  margin-bottom: 3rem;
  width: 1.25rem;
}
.mobile-menu ul {
  list-style-type: none;
}
.mobile-menu ul li {
  color: hsl(220, 13%, 13%);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.mobile-menu::before {
  content: "";
  position: absolute;
  inset: 0 30% 0 0;
  z-index: -999;
  background-color: hsl(0, 0%, 100%);
}

.cart-item {
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
}
@media (width < 800px) {
  .cart-item {
    margin-block: 1.5rem;
  }
}
.cart-item > img {
  width: 60px;
  border-radius: 5px;
}
.cart-item .cart-item-content-wrapper {
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}
.cart-item .cart-item-content-wrapper img {
  width: 1.25rem;
  cursor: pointer;
}
@media (width < 800px) {
  .cart-item .cart-item-content-wrapper img {
    width: 1rem;
  }
}
.cart-item .cart-item-content-wrapper .cart-item-text-wrapper {
  display: grid;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
}
.cart-item .cart-item-content-wrapper .cart-item-text-wrapper p {
  font-size: 1.25rem;
  font-weight: 600;
}
@media (width < 800px) {
  .cart-item .cart-item-content-wrapper .cart-item-text-wrapper p {
    font-size: 1rem;
  }
}
.cart-item .cart-item-content-wrapper .cart-item-text-wrapper p:not(.subtotal) {
  color: hsl(219, 9%, 45%);
}
.cart-item .cart-item-content-wrapper .cart-item-text-wrapper .price-wrapper p {
  margin-right: 0.5rem;
}
.cart-item .cart-item-content-wrapper .cart-item-text-wrapper .price-wrapper .subtotal {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */