*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

body {
  font-family: "Kumbh Sans", serif;
}

.flex {
  display: flex;
}

.active-thumb {
  outline: 3px solid hsl(26, 100%, 55%);
  position: relative;
}
.active-thumb::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.7;
}

.cart-wrapper {
  padding: 0.5rem 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 125%;
  background-color: hsl(0, 0%, 100%);
  min-height: 275px;
}
.cart-wrapper::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  inset: 25px 0 0 0;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

header {
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  margin-inline: auto;
  max-width: 1440px;
  justify-content: space-between;
  padding-block: 1.54rem;
}
header .left-wrapper {
  gap: 5rem;
}
header .left-wrapper .hamburger {
  display: none;
}
header .left-wrapper .logo {
  height: 1.5rem;
}
header .left-wrapper ul {
  list-style-type: none;
  gap: 2.5rem;
}
header .left-wrapper ul li {
  color: hsl(219, 9%, 45%);
  font-size: 1.25rem;
}
header .right-wrapper {
  position: relative;
  gap: 3rem;
  align-items: center;
  width: 375px;
}
header .right-wrapper .cart-icon {
  width: 2rem;
  margin-left: auto;
}
header .right-wrapper .avatar {
  width: 65px;
}

.left-col .main-img-wrapper {
  margin-bottom: 2rem;
}
.left-col img {
  border-radius: 15px;
}
.left-col .thumbs-wrapper {
  width: 100%;
  justify-content: space-between;
}
.left-col .thumbs-wrapper .thumb-img-wrapper {
  overflow: hidden;
}
.left-col .thumbs-wrapper > * {
  width: 20%;
  border-radius: 15px;
}

.right-col {
  display: grid;
  gap: 2rem;
}
.right-col h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: hsl(219, 9%, 45%);
}
.right-col h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.right-col .prod-desc {
  line-height: 1.7;
  width: 47ch;
  color: hsl(219, 9%, 45%);
  font-size: 1.25rem;
}
.right-col .price-wrapper {
  display: grid;
  gap: 1rem;
}
.right-col .price-wrapper .price {
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
}
.right-col .price-wrapper .price::after {
  content: "50%";
  background: black;
  border-radius: 8px;
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  left: 10rem;
  padding: 0.35rem 0.85rem;
  position: absolute;
  bottom: 0.25rem;
}
.right-col .price-wrapper s {
  color: hsl(219, 9%, 45%);
  font-size: 1.5rem;
  font-weight: 600;
}

.add-prod-controls {
  gap: 1.25rem;
}
.add-prod-controls .qty-wrapper {
  align-items: center;
  justify-content: space-between;
  flex-basis: 35%;
  padding: 1.25rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 15px;
}
.add-prod-controls .qty-wrapper .prod-qty {
  font-weight: 700;
  font-size: 1.25rem;
}
.add-prod-controls .qty-wrapper img {
  width: 1rem;
}
.add-prod-controls button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1.5rem;
  border-radius: 15px;
  border: none;
  background-color: hsl(26, 100%, 55%);
}
.add-prod-controls button img {
  width: 1.5rem;
  filter: brightness(0.5);
}
.add-prod-controls button span {
  font-size: 1.25rem;
  font-weight: 700;
}

body {
  padding-inline: 10rem;
}

main {
  max-width: 1440px;
  margin-inline: auto;
  flex-wrap: wrap;
  align-items: center;
}
main > * {
  padding: 5rem;
  flex-grow: 1;
  flex-basis: 500px;
}

.mobile-menu {
  display: none;
}/*# sourceMappingURL=main.css.map */